html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4E7367;
}

body > ul {
    list-style: none;
    padding-left: 10px;
}

.projects-list > li {
    flex-basis: 50%;
    margin-bottom: 50px;  
    font-size: 1.7rem;
}

.projects-list > li > a {
    text-decoration: none;
    color: whitesmoke;
}